/*//////////////////////////////////
////////////// GENERAL /////////////
//////////////////////////////////*/

body{
    padding: 0px;
	margin: 0px;
    font-family: Arial;
    font-size: 13px;;
    color: #000000;
    height: 100%;
    width: 100%;
    position: fixed;
    min-width: 800px;
    min-height: 640px;
}

.hidden{
    display: none;
}

#topbar{
    z-index: 2;
    width:100%;
    height:64px;
    position: absolute !important;
    background: #282f31;
    box-shadow: 20px 2px 10px #282f31;
}

.topright{
    float: right;
    vertical-align: center;
    height: 100%;
}

#main-wrapper{
	width:100%;
	height:100%;
}

.btn {
    text-align: center;
    height: 100%;
    padding: 20px 30px;
    display: block;
    border-radius: 0;
    font-weight:bold;
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    background: #1e2527;
}

.btn:hover {
    color: #ffffff;
    background: linear-gradient(160deg, #C4E538 0%, #009432 60%);
    cursor: pointer;
}

.button_light{
    border:0px;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid;
    background-color: rgba(0, 0, 0, 0);
    border-color: #000000;
    color: #000000;
    font-family: Arial;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
	text-decoration: none;
}

/*//////////////////////////////////
/////////// SIDE BAR PART //////////
//////////////////////////////////*/

#sidebar-wrapper{
    z-index: 2;
    position: fixed;
    display: inline-block;
    background-color: #282f31;
    height: 100%;
    width: 250px;
    box-shadow: 2px 20px 10px #282f31;
}

#sidebar-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
	background-color: #282f31;
}

#sidebar-wrapper input[type="text"], input[type="password"], select, textarea{
    border: 0px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 40px;
    width: 80%;
    padding-left: 20px;
    resize: none;
    display: inline-block;
}

#sidebar-nav li {
    line-height: 40px;
}

#sidebar-nav li a {
    text-align: right;
    display: block;
    text-decoration: none;
    font-weight:bold;
    font-size: 14px;
    color: #fff;
    padding-right: 32px;
    margin-bottom:8px;
    margin-top:8px;
}

#sidebar-nav li a:hover {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(160deg, #C4E538 0%, #009432 60%);
    border:0px;
    cursor: pointer;
}

hr{
    width: 75%;
    border-top: 1px solid #A3CB38;
}

#sidebar-nav li a:active,
#sidebar-nav li a:focus {
    text-decoration: none;
}

#bluePad{
    background: #282f31;
}

#avatarWrapper{
    width:100%;
    padding-top:16px;
}

#titleWrapper p{
  color: #ffffff;
  font-size: 18px;
  line-height: 65px;
}

#logoWrapper img{
  display:block;
  margin: auto;
  margin-top: 32px;
  width: 256px;
}

#avatarWrapper img{
    display:block;
    margin: auto;
    width: 128px;
    height: 128px;
    border-radius: 64px;
}

#titleWrapper {
    text-align: center;
    font-size: 16px;
}


/*//////////////////////////////////
/////// MAP WRAPPER PART ///////
//////////////////////////////////*/

#map{
	position: absolute !important;
	left: 250px;
	top:64px;
    z-index: 1;
	overflow: visible !important;
	width: calc(100% - 250px);
	height:calc(100% - 64px);
}

/*//////////////////////////////////
/////// CONTENT WRAPPER PART ///////
//////////////////////////////////*/

.contextWrapperToggled{
  display: block !important;
  z-index: 4;
  position: absolute;
}

#contextWrapper li {
    line-height: 32px;
}

#contextWrapper li a:hover {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(160deg, #C4E538 0%, #009432 60%);
    border:0px;
    cursor: pointer;
}

#contextWrapper li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    padding-right: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
}

#contextWrapper{
  text-indent: 16px;
  min-width: 183px;
  position: absolute;
  border-radius: 0 8px 8px 8px;
  background: #fff;
  box-shadow: 0 0 20px #000;
  list-style: none;
}

#log-wrapper{
    background: #282f31;
    z-index: 4;
    width: 600px;
    height: 680px;
    padding: 32px;
    border-radius: 16px;
    position: absolute;
    top: 160px;
    left: 700px;
}

#createtravel-wrapper{
    background: #282f31;
    z-index: 4;
    width: 600px;
    height: 260px;
    padding: 32px;
    border-radius: 16px;
    position: absolute;
    top: 160px;
    left: 700px;
}

.textfield{
    background-color: rgba(0,0,0,0.5);
    width: 360px !important;
    margin: 8px 90px !important;
    border: 1px solid #009432 !important;
}

.button_error{
    display:none;
    background-color: rgba(255,255,255,1);
    border:0px;
    border-radius: 4px;
    border: 2px solid;
    border-color: #FF1A1A;
    color: #FF1A1A;
    font-family: Arial;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.button_light{
    background-color: #ffffff;
    border:0px;
    color:#CB8657;
    border-radius: 4px;
    border: 2px solid;
    border-color: #CB8657;
    font-family: Arial;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

#login_wrapper, #register_wrapper{
    width: 100%;
}